///math for yiq

@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

/// yiq

/// yiq

@function yiq($color) {
  $red  : red($color);
  $green: green($color);
  $blue : blue($color);

  @return (($red*.299)+($green*.587)+($blue*.114));
}

@function color-contrast($background, $dark:#000, $light:#fff) {
  @if yiq($background) >= 128 {
    @return $dark;
  } @else {
    @return $light;
  }
}

$background: if($variant == 'light', #b7e2f8, #0b495c);
$foreground: color-contrast($background, darken($background, 50%), lighten($background, 50%));
// button normal
$background-button: if($variant == 'light', darken(#b7e2f8, 4%), darken(#0b495c, 4%));
$foreground-button: color-contrast($background-button, darken($background-button, 50%), lighten($background-button, 50%));
// button hover
$background-button-hover: if($variant == 'light', darken(#b7e2f8, 8%), darken(#0b495c, 8%));
$foreground-button-hover: color-contrast($background-button-hover, darken($background-button-hover, 50%), lighten($background-button-hover, 50%));
